/* footer*/
.footer {
  background-color: #2c2c2c;
  height: 65vh;
  width: 100%;
  padding: 30px;
}
@media (min-width: 769px) {
  .footer {
    padding: 60px 80px;
    height: 40vh;
  }
}

.footer__elements-contaier {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 769px) {
  .footer__elements-contaier {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__img {
  width: 140px;
  height: 140px;
}
@media (min-width: 769px) {
  .footer__img {
    width: 200px;
    height: 200px;
  }
}

.footer__links-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .footer__links-container {
    height: 100%;
    padding: 35px 0;
    justify-content: space-evenly;
  }
}

.footer__link-title {
  font-size: 20px;
  color: #dbdbdb;
  text-decoration: none;
  margin: 6px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
@media (min-width: 769px) {
  .footer__link-title {
    text-align: right;
  }
}

.footer__link-img {
  width: 30px;
  height: 30px;
}
